@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #145DA0;
    color: white; 
    font-family: "Ojuju", sans-serif;
    margin-top: 5rem;
    text-align: center;
}

header{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
}

#player-name {
    text-align: center;
}

#grid {
    display: grid;
    grid-template-columns: repeat(10, 10vmin);
    grid-template-rows: repeat(5, 10vmin);
    margin-top: 5vmin;
    justify-content: center;
    gap: 0.5vmin ;
    
}

#grid > div {
    border: none;
    text-align: center;
    justify-content: flex-end;
    padding-top: 20%;
    font-size: x-large;
}

h2 {
    color: white;

}

.timer {
    text-align: left; 
}

.points {
    text-align: right; 
}

button {
    margin-top: 5rem;
    font-family: "Ojuju", sans-serif;
    background: white;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    font-size: medium;
    justify-content: center;
}

button:hover {
    cursor: pointer;
    background: greenyellow;
}

div:hover {
    cursor: pointer;
}

footer {
    margin-top: 5rem;
    font-size: 15px;
}