@import url("https://fonts.googleapis.com/css2?family=Ojuju:wght@200..800&display=swap");

* {
    box-sizing: border-box;
}

body {
    background-color: #81B622;
    color: white; 
    font-family: "Ojuju", sans-serif;
    margin-top: 5rem;
    text-align: center;
    font-weight: bold;
}

header{
    font-size: 70px;
    text-align: center;
}

#message {
    text-align: center;
    font-size: 45px;
}

.spaceship {
    background-image: url('wireframe/images/spaceship.png');
    width: 50px;
    height: 50px;
}

#grid {
    display: grid;
    grid-template-columns: repeat(10, 10vmin);
    grid-template-rows: repeat(5, 10vmin);
    margin-top: 5vmin;
    justify-content: center;
    gap: 0.5vmin ;
    
}

#grid > div {
    border: none;
    text-align: center;
    justify-content: flex-end;
    padding-top: 20%;
    font-size: x-large;
}

h2 {
    color: white;
    font-weight: bold;
}

.timer {
    text-align: left;
    color: white;
    font-size: 30px;
}

.points {
    text-align: right; 
    color: white;
    font-size: 30px;
}

button {
    margin-top: 5rem;
    font-family: "Ojuju", sans-serif;
    background: white;
    border-radius: 50%;
    height: 5rem;
    width: 5rem;
    font-size: medium;
    justify-content: center;
    font-weight: bold;
}

.lower-buttons {
    display: flex;
    justify-content: space-evenly;
    padding: 8rem;
}

.upper-display {
    display: flex;
    justify-content: space-around;
}

button:hover {
    cursor: pointer;
    background: #278ED5;
    
}

.laser-gun {
    cursor: url('wireframe/images/laser-gun.png') 45 10, auto;
};

footer {
    margin-top: 5rem;
    font-size: 15px;
}